<template name="layout">
<body>
<div id="container">
  <div id="header">
    <div class="inner">
      <h1>Meteor CMS</h1>
      <p>A simple meteor website system.</p>
    </div>
  </div>

  <div id="main-nav">
    <div class="inner">
      {{> main_nav}}
    </div>
  </div>

  <div id='content'>
    <div class="inner">
      {{> yield}}
    </div>
  </div>

  <div id="footer">
    <div class="inner">
      <p>footer</p>
      <p>{{> loginButtons}}</p>
    </div>
  </div>
</div>

</body>
</template>