<template name='createArticle'>
<h1>Add New Article</h1>
<form id="create-article-form" name="create-article" method="post">

<div class="form-element">
<label for="title">Title</label><br/>
<input type="text" id="article-title" name="title" />  
</div>

<div class="form-element">
<label for="body">Article Body</label><br/>
<textarea name="body" id="article-body" rows="5" cols="40"></textarea>
</div>

<div class="form-element">
<label for="published">Published</label><br/>
  Yes: <input type="radio" name="published" value="yes" />
  No: <input type="radio" name="published" value="no" />
</div>

<div class="form-element">
<input type="submit" id="create-article-submit" value="Submit"/>
</div>

</form>
</template>